.images_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 30px 0;
}
.images_list img {
  width: 49%;
  margin: 6px 0;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.264);
}
@media (max-width: 600px) {
  .images_list img {
    width: 49%;
  }
}
